.coeur , .coeur-resto{
  i {
    position: absolute;
  }
  .fa-solid {
    color: transparent;
    transition-duration: 1.9s;
    &:active {
      color: #ff79da;
    }
  }
  &:hover .fa-solid {
    color: $couleur-secondaire;
  } 
}
